<%- include('../layout/header') %>
  <body class="bg-zinc-900 h-screen">
    <!-- Page banner -->
    <div class="bg-gradient-to-r from-red-300 to-red-50 h-2/3 flex flex-col justify-center items-center">
      <div class="text-zinc-900 text-9xl font-bold pb-5">Welcome to AniRec!</div>
      <div class="text-zinc-900 text-2xl font-bold">Don't know what anime to watch next? We gotchu!</div>
    </div>
    <div class="flex flex-col pl-40 pr-20 pt-20">
      <div class="text-red-200 text-7xl font-bold pb-10"><%= title %></div>
      <div class="flex flex-row">
        <div class='flex flex-row text-red-200 text-3xl w-1/12 pb-10'>
          Rank
        </div>
        <div class='flex flex-row text-red-200 text-3xl w-8/12 pb-10'>
          Title
        </div>
        <div class='flex flex-row text-red-200 text-3xl w-3/12 pb-10'>
          Score
        </div>
      </div>
      <!-- show only top 5 animes on homepage -->
      <% for (let i = 0; i < 5; i++) { %>
        <div class="flex flex-row">
          <div class='flex flex-row text-red-200 text-6xl w-1/12 pb-10'>
            <%= i + 1 %>
          </div>
          <div class='flex flex-row text-red-200 text-6xl w-8/12 pb-10'>
            <%= content[i].title %>
          </div>
          <div class='flex flex-row text-red-200 text-6xl w-3/12 pb-10'>
            <%= content[i].score %>
          </div>
        </div>
      <% } %>
    </div>
    <div class="flex flex-row justify-center pb-32 pt-10">
      <a href="/popular/1" class="flex flex-row justify-center w-2/12 bg-red-200 text-neutral-50 p-5 rounded-lg font-bold">Explore More</a>
    </div>
  </body>
</html>
